<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>marvel-public-key</key>
	<string>YourPublicKey</string>
	<key>marvel-private-key</key>
	<string>YourPrivateKey</string>
</dict>
</plist>
